tools/Spirent_TestCenter_4.81/Spirent_TestCenter_Application_Linux/Templates/Traffic/L2L3/CountersResultModeMap/DefaultModuleSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="default_module_set">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="module">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="defaultSet" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>